In [1]:
import pandas as pd
df=pd.read_csv('doc/pokemon.csv')

In [3]:
nominal=pd.get_dummies(df['Generation'])

In [4]:
map_ordinal={
    'Gen1':1,'Gen2':2,'Gen3':3,'Gen3':4,'Gen5':5,'Gen6':6,
}

In [5]:
df["Gen label"]=df['Generation'].map(map_ordinal)

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
795   NaN
796   NaN
797   NaN
798   NaN
799   NaN
Name: Gen label, Length: 800, dtype: float64

In [7]:
category=["Generation","Legendary"]

In [8]:
encode=pd.get_dummies(df[category])

In [12]:
data=pd.concat([df,nominal,encode],axis=0)

In [15]:
print(data.head(10))

     #                       Name Type 1  Type 2  Total    HP  Attack  \
0  1.0                  Bulbasaur  Grass  Poison  318.0  45.0    49.0
1  2.0                    Ivysaur  Grass  Poison  405.0  60.0    62.0
2  3.0                   Venusaur  Grass  Poison  525.0  80.0    82.0
3  3.0      VenusaurMega Venusaur  Grass  Poison  625.0  80.0   100.0
4  4.0                 Charmander   Fire     NaN  309.0  39.0    52.0
5  5.0                 Charmeleon   Fire     NaN  405.0  58.0    64.0
6  6.0                  Charizard   Fire  Flying  534.0  78.0    84.0
7  6.0  CharizardMega Charizard X   Fire  Dragon  634.0  78.0   130.0
8  6.0  CharizardMega Charizard Y   Fire  Flying  634.0  78.0   104.0
9  7.0                   Squirtle  Water     NaN  314.0  44.0    48.0

   Defense  Sp. Atk  Sp. Def  Speed  Generation Legendary  Gen label    1  \
0     49.0     65.0     65.0   45.0         1.0     False        NaN  NaN
1     63.0     80.0     80.0   60.0         1.0     False        NaN  NaN
2     83.0    100.0    100.0   80.0         1.0     False        NaN  NaN
3    123.0    122.0    120.0   80.0         1.0     False        NaN  NaN
4     43.0     60.0     50.0   65.0         1.0     False        NaN  NaN
5     58.0     80.0     65.0   80.0         1.0     False        NaN  NaN
6     78.0    109.0     85.0  100.0         1.0     False        NaN  NaN
7    111.0    130.0     85.0  100.0         1.0     False        NaN  NaN
8     78.0    159.0    115.0  100.0         1.0     False        NaN  NaN
9     65.0     50.0     64.0   43.0         1.0     False        NaN  NaN

     2    3    4    5    6
0  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN  NaN
6  NaN  NaN  NaN  NaN  NaN
7  NaN  NaN  NaN  NaN  NaN
8  NaN  NaN  NaN  NaN  NaN
9  NaN  NaN  NaN  NaN  NaN